.Search {
  text-align: center;
  width: 100%;
  height: 100%;
}

.whereContent {
  padding-top: 35vh;
  height: 100vh;
  background-image: url("http://tripprr.herokuapp.com/sf_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.whiteText {
  color: white;
}
